

<!-- data binding -->
<!-- interpolation - {{}} -->
<!-- style binding : [style.textAlign]="headStyle" -->
 <!-- built in pipes -->
<h1 [style.textAlign]="headStyle"> {{title | uppercase | append : "New Title updated"}} </h1>
<app-employee [dataFromParent]="title"></app-employee>

<!-- property/attribute binidng : [attribute]="property" -->
 <img width="200px" height="200px" [src]="source" alt="">
 <!-- event binding -->
 <h2> count: {{count}} </h2>
 <button [disabled]="!user.value" (click)="incrementByValue()">Increment</button> <br> <br>
 <!-- event binding using $event-->
<input #user (keydown)="getName($event)" type="text" placeholder="Enter your name!!!">
<!-- using template reference variable to share html tag in html page : #user -->
<p>User name: {{username}}</p>
<!-- two way binding using ngModel directive -->
 <br>
<input [(ngModel)]="desgnation" type="text" placeholder="desgnation plaese">
<!-- ngClass directive -->
<p [ngClass]="styleClassess" >User desgnation : {{desgnation}} </p>
<!-- ngIf -->
 <p>User Status is <span *ngIf="userStatus" > Active  </span> <span *ngIf="!userStatus" >Inavtive</span> </p>
 <!-- ngFor -->
  <h3>All Users List using STructural directive</h3>
  <ul>
    <li *ngFor="let name of nameArray"> {{name}} </li>
  </ul>
  <!-- control flow statements -->
  @if (userStatus) {
    <p>User Status is active </p>
  }@else {
    <span  >Inavtive</span>
  }
  <h3>All Post using control flow statements</h3>

  <div>
    @for (post of posts; track $index) {
      <h5> {{post.title}} </h5>
    }
  </div>

  <h3>Today : {{today}} </h3>
  <h3>Today : {{today | date : 'fullDate'}} </h3>